<!DOCTYPE html>
<html>
<head>
  <style type="text/css" >
  .newspaper-body {


}

.newspaper-head {
  height:100px;
  width:100%;
  margin-bottom: 30px;
  border-bottom: black 5px solid;
}

.weather {
    display: inline-block;
}
.weather-key{
  font-family:"Helvetica";
   font-weight: bold;
   font-size: .8em;
}
.head-top {
  height:100px;
  display: inline-block;
}

#headleft {
  float:left;
  margin-left: 20px;
}


#headcenter {
  position: relative;
  margin-left:auto;
  margin-right:auto;
  display:block;
  width:100%;
  text-align:center;
  /*margin-bottom: -100px;*/
}

#headright {
  float:right;
  margin-right: 20px;
}

#stocks {
  margin-top:20px;
  margin-bottom:20px;
    height:30px;
}
#stock {
  height:30px;
  display: inline-block;
  float:left;
}
#stock-data {
  display: inline-block;
}
.first-article {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    width:100%;
    height:auto;    
}
.content {
    width:45%;
    display: inline-block;
    padding-right:10px;
    padding-left: 10px;
    font-family:'Poynter';

}
#content-left {
    float:left;
        border-left: 2px solid black;
        border-right: 2px solid black;
      padding-right:10px;
}

.content-divider-center {
    display: inline-block;
    background-color: black;
    float:left;
}

#content-right {
    float:right;
        border-right: 2px solid black;

}


.article {
    display:inline-block;
    width:100%;
    float:left;
    padding-right:30px;
    pading-left:30px;
}

.article-article{
  color:grey;
    text-align: justify;

}

.article-img {
    width:100%;
    height:auto;

}
.article-end {
  margin-top:20px;
  margin-bottom:20px;
    width:100%;
    height:10px;
  background-color:grey;
}

}
  </style>

</head>
<body>

<div class = "newspaper-head">
  <div class = "head-top" id = "headcenter">
    <p style = "font-size:5em; margin-bottom: -90px" id ="title">Personal Post</p>
  </div>
  <div class = "head" id ="headleft">
    <p id = "date" class="weather-key"><%= today %></p>
  </div>

  <div class = "head" id = "headright">
    <p class="weather weather-key"> <%= weather['High'] %>&deg - <%= weather['Low'] %>&deg.</p>
    <p class="weather weather-key"> Humidity: <%= weather['Humidity'] %> </p>
  </div>

<!--   <div class="stocks">
    <% stock_data.each do |stock| %>
      <div class="stock">
        <p class="stock-data" style="font-weight:bold"><%= stock.symbol %></p>
        <% if stock.change.to_i > 0 %>
          <div class="stock-data stock-change-up"><%= stock.change %></div>
        <% else %>
          <div class="stock-data stock-change-down"><%= stock.change %></div>
        <% end %>
      </div>
    <% end %>
  </div> -->
</div>



<div class = "newspaper-body">



  <div class ="content" id="content-left">

  <%articles_right.each do |article|%>
    <% puts "FLOAT is: #{article.float}" %>

    <% if article.float =="left" %>
        <div class="article article-floatleft">
    <% else %>
        <div class="article article-floatright">
    <% end %>
      <img class="article-img" src="<%= article.img_url %>">
      <h1 class="article-title"><%= article.title %></h1>
      <div class="article-metadata">
        <div class="article-metadata-box">
        </div>
      </div>

      <div class="article-textbox">
          <p class="article-article">
            <%= article.content %>
          </p>
      </div>
            <div class="article-end"></div>

    </div>

  <% end %>

  </div>

<div class="content-divider-center"></div>

  <div class ="content" id="content-right">

  <%articles_left.each do |article|%>
    <% puts "FLOAT is: #{article.float}" %>

    <% if article.float =="left" %>
        <div class="article article-floatleft">
    <% else %>
        <div class="article article-floatright">
    <% end %>
      <img class="article-img" src="<%= article.img_url %>">
      <h1 class="article-title"><%= article.title %></h1>
      <div class="article-metadata">
        <div class="article-metadata-box">
        </div>
      </div>

      <div class="article-textbox">
          <p class="article-article">
            <%= article.content %>
          </p>
      </div>
            <div class="article-end"></div>

    </div>
  <% end %>

  </div>
</div>

</body>
</html>
