<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="./styles/app.css">

</head>
<body>

<div class = "newspaper-body">

  <div class ="content" id="content-left">

  <%articles_right.each do |article|%>
    <% puts "FLOAT is: #{article.float}" %>

    <% if article.float =="left" %>
        <div class="article article-floatleft">
    <% else %>
        <div class="article article-floatright">
    <% end %> 
      <img class="article-img" src="<%= article.img_url %>">
      <h1 class="article-title"><%= article.title %></h1>
      <div class="article-metadata">
        <div class="article-metadata-box">
        </div>
      </div>

      <div class="article-textbox">
          <p class="article-article">
            <%= article.content %>
          </p>
      </div>
            <div class="article-end"></div>

    </div>

  <% end %>

  </div>

<div class="content-divider-center"></div>

  <div class ="content" id="content-right">

  <%articles_left.each do |article|%>
    <% puts "FLOAT is: #{article.float}" %>

    <% if article.float =="left" %>
        <div class="article article-floatleft">
    <% else %>
        <div class="article article-floatright">
    <% end %> 
      <img class="article-img" src="<%= article.img_url %>">
      <h1 class="article-title"><%= article.title %></h1>
      <div class="article-metadata">
        <div class="article-metadata-box">
        </div>
      </div>

      <div class="article-textbox">
          <p class="article-article">
            <%= article.content %>
          </p>
      </div>
            <div class="article-end"></div>

    </div>
  <% end %>

  </div>
</div>

</body>
</html>
